workflows/noteguard.n8n.json
{
  "name": "NoteGuard — Ward Note Summariser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "noteguard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "noteguard-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/summarise",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"note\": \"{{ $json.body.note }}\",\n  \"question\": \"{{ $json.body.question ?? 'Draft a discharge summary.' }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "NoteGuard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "NoteGuard API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoteGuard API": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "noteguard-local"
  },
  "id": "noteguard-summarise-v1",
  "tags": ["noteguard", "nhs", "clinical-ai"]
}
